<!DOCTYPE html>
<header>
    <nav>
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#learn-more">Learn More</a></li>
            <li><a href="#join">Join Group</a></li>
        </ul>
    </nav>
</header>