<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | AI Therapy</title>    
    <link rel="stylesheet" href="/css/login-styles.css">
</head>
<body>
    <div class="login-container">        
        <h1>Welcome!</h1>
        <p>Please login to your account</p>
        
        <% if (errorMessage) { %>
            <div class="error-message" style="color: red; margin-bottom: 10px;">
                <%= errorMessage %>
            </div>
        <% } %>

        <form action="/login" method="POST">
            <div class="input-group">
               <label for="position">Position</label>
               <select class="position">
                <option value="" disabled selected>Select User Type</option>
                <option value="patient">Patient</option>
                <option value="therapist">Therapist</option>
                <option value="admin">Admin</option>
               </select>
            </div>
            <div class="input-group">
                <label for="email">Email</label> 
                <input type="text" id="email" name="email" required>
            </div>            
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>            
            <button type="submit" class="login-button">Login</button>      
        </form>
       <p class="login-link">Don't have an account? <a href="/signup">Sign up here</a>.</p>
       <a href="/forgot-password">Forgot your password?</a>
       
    </div>
    
</body>
</html>