<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Reset Password</h1>

<form action="/reset-password/<%= token %>" method="POST">
    <label for="password">Enter a new password:</label>
    <input type="password" name="password" required>
    <button type="submit">Reset Password</button>
</form>

<% if (errorMessage) { %>
    <div style="color: red;"><%= errorMessage %></div>
<% } %>
    
</body>
</html>