body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    background-image: url('/images/Mentalhealthbackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
h1 {
    text-align: center;
    
}
label {
    font-size: 14px;
    margin-top: 10px;    
    display: block;
}
input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}
button {
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
